CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

/protoc-gen-tortuga
/http_client_main
/tortuga_main
*.a

/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-testlogs
/bazel-tortuga

/.vscode
